{% extends "layout.html" %}
{% block title %}index{% endblock %}
{% block body %}
<div class="large-8 medium-8 small-8 columns">
    <h1> Classroom{{ posts[0].classroom }}</h1>
    <hr>
	<table cellspacing="0">
		<thead>
			<tr>
				<th class="text-center">生徒番号</th>
				<th>氏名</th>
				<th>math</th>
				<th>english</th>
				<th>science</th>
				<th>social</th>
				<th>language</th>
			</tr>
		</thead>
		<tbody>
			{% for post in posts %}
			    <tr>
				    <td style="text-align: center" class="text-center"><a href="/classroom/{{ post.classroom }}/{{ post.studentnum }}">{{ post.studentnum }}</a></td>
				    <td style="text-align: center"><a href="/classroom/{{ post.classroom }}/{{ post.studentnum }}">{{ post.name }}</a></td>
                    <td style="text-align: center">{{ post.exam[0].score }}</td>
                    <td style="text-align: center">{{ post.exam[1].score }}</td>
                    <td style="text-align: center">{{ post.exam[2].score }}</td>
                    <td style="text-align: center">{{ post.exam[3].score }}</td>
                    <td style="text-align: center">{{ post.exam[4].score }}</td>
			    </tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<div class="large-4 medium-4 small-4 columns">
    <div class="sidebar">
    <h5>Classrooms</h5>
    <ul>
		<li><a href="/classroom/a">Classroom A</a></li>
		<li><a href="/classroom/b">Classroom B</a></li>
		<li><a href="/classroom/c">Classroom C</a></li>
		<li><a href="/classroom/d">Classroom D</a></li>
    </ul>
    <form method="get" action="/classroom/{{ posts[0].classroom }}">
    <h5>sort for student number</h5>
    <select name="sort">
    <option value="forward">Ascending</option>
    <option value="reverse">Descending</option>
    </select>
    <input type="submit" value = "send" />
    </form>
    </div>
</div>
{% endblock %}
