{% extends "layout.html" %}
{% block title %}index{% endblock %}
{% block body %}

<div class="large-6 columns">
    <h1>Student info view</h1>
    <hr>
	<p><a href="/student-add">infoview</a></p>
    <hr>
	<p><a href="/classroom/a">Student of classroom A</a></p>
	<p><a href="/classroom/b">Student of classroom B</a></p>
	<p><a href="/classroom/c">Student of classroom C</a></p>
	<p><a href="/classroom/d">Student of classroom D</a></p>

</div>
<div class="large-6 columns">
    <h1>Registration for Student</h1>
    <hr>
	<p><a href="/student-add">Registration</a></p>

</div>
{% endblock %}
