{% extends "layout.html" %}
{% block title %}index{% endblock %}
{% block body %}
<div class="large-8 medium-8 small-8 columns">
	<h1>Posts</h1>
	<hr>
	<ul>
		{% for post in posts.find() %}
		<li>{{ post['name'] }}</li>
		{% endfor %}
	</ul>
</div>
<div class="large-4 medium-4 small-4 columns">
	<div class="sidebar">
		<h5>Search posts</h5>
		<form>
			<input tabindex="1" id="autocomplete" type="search" placeholder="Posts" autocomplete="off">
		</form>
	</div>
        <form>
                <fieldset>
                        <legend>Fieldset Legend</legend>
        
                        <label>Input Label
                                <input type="text" placeholder="">
                        </label>
                </fieldset>
        </form>
        <div class="row">
                <div class="large-6 columns">
                        <label>Choose Your Favorite</label>
                        <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Red</label>
                        <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>
                </div>
        </div>
        <div class="large-6 columns">
            <label>Check these out</label>
            <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
            <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
           </div>
        </div>
{% endblock %}
